<div class="dialog-container">

  <div class="poryapp-content" id="content-home">
    <div class="poryapps">
      {{#each apps}}
        <button class="poryapp poryapp-navigate" data-appid="{{id}}">
          <div class="outline">
            <div class="app-icon"><i class="fas fa-{{icon}}"></i></div>
            <div class="app-title">{{title}}</div>
          </div>
        </button>
      {{/each}}
    </div>
  </div>

  {{#each apps}}
    <div class="poryapp-content poryapp-hidden" id="content-{{id}}">
      <div class="poryheader">
        <button class="poryapp-navigate" data-appid="home">
          <i class="fas fa-caret-left"></i>
          Retour
        </button>
        <div class="poryheader-title">
          <i class="fas fa-{{icon}}"></i>
          {{title}}
        </div>
      </div>

    </div>
  {{/each}}

</div>